.center {
        width: 100%;
        height: 100%;
        display: flex
        flex-how: row nowrap;
        align-itens: center;
        justily-content: center; 
        }

html,body {
          marpin: 0;
          padding: 0;
}
.msg {
      font; 64 px;
     }
