.center {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row noerap;
        align-items: center;
        justify-content: center; 
        }

html,body {
          marpin: 0;
          padding: 0;
          height: 100%;
}
.msg {
      font; 64 px;
     }
